html { 
  background: url("https://assets2.razerzone.com/images/overwatch-landing/ce1763642875fa9baf40236130a584c7-overwatch-landing-header-bg.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.news{
    color: rgba(50,50,152,.9);
}
.navigationbar{
    background-color: rgba(228,149,0,.4);
    /*  Margin: top#px right# bottom# left # */
    /*margin: -10px;*/
    padding: 0px;
    color: rgba(50,50,152,.9);
    border: ridge rgba(56,103,143,.9) 10px;
    margin-bottom: 40px;
    
}
.nameofgame{
    padding-left: 110px;
}
.navigationlogo{
    width: 200px;
    height: 50px;
    margin: 1px;
    float: left;
}
button{
    background-color: rgba(228,149,0,.3); /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.news{
    text-align: center;
    background-color: rgba(228,149,0,.4);
    border: ridge rgba(56,103,143,.9) 8px;
    margin-top: 20px;
    margin-bottom: 40px;
    padding-top: 0px;
    margin-left: 30px;
    margin-right: 30px;
    padding-bottom: 1000px;
}
.updates{
    text-align: center;
    color: rgba(50,50,152,.9);
    background-color: rgba(228,149,0,.4);
    border: ridge rgba(56,103,143,.9) 8px;
    margin-top: 20px;
    margin-bottom: 40px;
    padding-top: 0px;
    margin-left: 30px;
    margin-right: 30px;
    padding-bottom: 1000px;
}